<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <title>Deciderbot</title>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<!-- <nav>
    <ul>
        <li><a href="../polyfish42.github.com/index.html">Projects</a></li>
        <li><a href="https://www.youtube.com/user/Moviefish42">YouTube</a></li>
        <li><a href="https://medium.com/@inkblottedstars">Medium</a></li>
    </ul>
</nav> -->

<body id="deciderbot">
    <main>
        <h1>Hello, I can help you make decisions.</h1>
        <p>Deciderbot uses a selection of decision algorithms to help you make decisions in different ways. Let me make decisions for you or build consesus within a group.</p>
        <center>
          <a href='https://slack.com/oauth/authorize?client_id=<%= process.env.SLACK_ID %>&redirect_uri=<%= process.env.SLACK_REDIRECT %>new&scope=bot'><img alt="Add to Slack" height="40" width="139" src="images/add_to_slack.png" /></a>
        </center>
    </main>

</body>

</html>
